.newsletter-contenedor {
    border: 5px solid black;
    box-shadow: 10px 10px 0px black;
    padding: 10px;
    width: 250px;
    background-color: white;
    font-family: sans-serif;
}

.newsletter-encabezado {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.newsletter-texto {
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
}

.newsletter-insertar {
    width: 90%;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 15px;
}

.newsletter-boton {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}