.seccion-tabla {
    flex: 1;
    min-height: 100%;

}

table {
    
    width: 100%;
    border-collapse: collapse;
    background-color: antiquewhite;

}
.td-config,
.th-config {
border: 2px solid #000000;
padding: 20px;
text-align: left;
}